body{
    margin: 0;
    padding: 0;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;
}

header{
  background-color: #6c648b;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  letter-spacing: 0.6px;
  word-spacing: 0.8px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  background-color: #6C648B;
  color: white;
}

#an {
  margin-right: 10px;
}
a:link {
  text-decoration: none;
}

.main{
  display: grid;
  justify-items: center;
  background-color: #212121;
}

.roPaSc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6vh;
  padding: 2vh 4vh 2vh 4vh;
  height: 24vh;
}

.roPaSc > :nth-child(1) img,
.roPaSc > :nth-child(2) img,
.roPaSc > :nth-child(3) img{
max-height: 20vh;
}


  .roPaSc > :nth-child(1),
  .roPaSc > :nth-child(2),
  .roPaSc > :nth-child(3){
    background-color: #E27D5F;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 24vh
  }
  
    .roPaSc > :nth-child(1):active,
    .roPaSc > :nth-child(2):active,
    .roPaSc > :nth-child(3):active{
      background-color: #C2EDCE;
    }
    

.allDivs{
  display: grid;
  grid-template-rows: 0.9fr 1.3fr 0.3fr 0.1fr;
  background-color: #fff9d6;
}

.choose{
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: larger;
  font-family: 'Roboto', sans-serif;
}

.choose > :nth-child(1),
.choose > :nth-child(2){
  display: grid;
  justify-items: center;
}

.choose > :nth-child(1) > :nth-child(2),
.choose > :nth-child(2) > :nth-child(2){
    display: grid;
    justify-items: center;
}

.choose img{
  max-width: 20vh;
}

.winner{
 height: 10vh;
 display: flex;
 grid-template-columns: 1fr 1fr;
 justify-content: center;
 align-items: center;
 font-family: 'Roboto', sans-serif;
 font-size: xx-large;
 
}
.winner p{
  margin: 0;
 
}
.winner img{
  max-width: 10vh;
  
}

.scoreBoard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  justify-items: center;
  align-items: center;
/*   padding: 0px 25vh; */
  background-color: #05396B;
  color:white;
  
}

.scoreBoard > :nth-child(1),
.scoreBoard > :nth-child(2),
.scoreBoard > :nth-child(3),
.scoreBoard > :nth-child(4){
  margin-top: 2px;
  margin-bottom: 2px;
}

/*  media querry pentru mobile */
@media (max-width: 576px){
  
  .roPaSc > :nth-child(1), 
  .roPaSc > :nth-child(2), 
  .roPaSc > :nth-child(3) {
    height: 14vh;
  }
  .roPaSc > :nth-child(1) img, 
  .roPaSc > :nth-child(2) img, 
  .roPaSc > :nth-child(3) img {
    max-height: 10vh;
  }
  
  .choose img {
    max-width: 20vh;
}
.roPaSc {
  height: 14vh;
  gap: 1vh;
  padding: 1vh;
}
.scoreBoard {
  padding: 0px 10vh;
  font-size: 20px;
}

header {
  font-size: 2em;
  }
  .allDivs{
    grid-template-rows: 17vh 1.3fr 0.3fr 0.1fr;
    
  }
  .winner img {
    max-width: 12vh;
}
.winner{
  height: 20vh;
}
}

/* media querry pentru landscape */

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .winner {
    font-size: 5vh;
}
  header {
    font-size: 3vh;
}
  .choose img {
    max-width: 18vh;
}

}